<%= form_with(model: @recipe, local: true) do |form| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %>
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <h2><%= form.label :name %></h2>
    <%= form.text_field :name %>
  </p>
 
  <h2>Ingredients</h2>
  <%#= debug @recipe %>
  <%= react_component("IngredientList", {
      initialIngredients: @ingredients,
      editable: true,
      showAmount: true,
    }) %>

  <p>
    <h2><%= form.label :text %></h2>
    <%= form.text_area :text, :cols => 100, :rows => 10 %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
