<% if @recipes.size > 0 %>
  <table class="recipes-table">
    <tr>
      <th>Name</th>
      <th>Published</th>
    </tr>
  
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe_path(recipe) %></td>
        <td><%= recipe.published_at.nil? ? 'Never' : recipe.published_at.to_date %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <em>No recipes found :(</em>
<% end %>
