<h1>Recipes</h1>

<p> 
  <%= link_to 'Submit new recipe', new_recipe_path %>
</p>

<h2>Search recipes</h2>

<p>
  <%= react_component("RecipeSearch", {}) %>
</p>

<h2>All recipes</h2>
<%= render 'table' %>
