<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<%= react_component("IngredientList", {
    initialIngredients: @ingredients,
    editable: false,
    showAmount: true,
  }) %>
 
<p>
  <strong>Text:</strong>
  <%= @recipe.text %>
</p>

<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %>
    </h2>
    <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
    <% if @recipe.published_at.nil? %>
      <%= link_to 'Publish', publish_recipe_path(@recipe),
              method: :post,
              data: { confirm: 'Really publish recipe? It cannot be deleted after publishing.' } %>
      <%= link_to 'Destroy', recipe_path(@recipe),
              method: :delete,
              data: { confirm: 'Really delete recipe?' } %>
    <% else %>
      Published on <%= @recipe.published_at.to_date %>
    <% end %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %>
</p>

<%= link_to 'Back', recipes_path %>
