<%= form_with model: @ingredient, url: :ingredients_update, local: true do |form| %>

  <%=raw "#{t(:edit)}: #{@ingredient.name}" %>

  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ingredient.errors.count, "error") %>
      </h2>
      <ul>
        <% @ingredient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= form.submit %>
  </p>
<% end %>