<h1>Ingredients</h1>
 
<div>
  <h3>Submit a new ingredient</h3>
  <%= render 'form' %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
 
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= link_to 'Edit', ingredients_edit_path(ingredient.id)  %></td>
    </tr>
  <% end %>
</table>