<div>
  <p>
    <%= link_to 'Front page', controller: '/welcome' %>
    <% if user_signed_in? %>
      <%= link_to 'Profile', profile_path(current_user) %>
      <%= link_to 'Log out', destroy_user_session_path(), method: "delete" %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path() %>
      <%= link_to 'Register', new_user_registration_path() %>
    <% end %>
  </p>
</div>
